@model IndexViewModel

@{
    ViewData["Title"] = "Home";
}

@*CSS Link*@
<link href="~/css/index.css" rel="stylesheet" asp-append-version="true" />

<div class="row">

    @*Left Bar Section*@
    <div class="col-xl-2 text-center p-3">
        <h6 class="mt-3" style="font-family: 'Rowdies', cursive; font-size: 20px; color: #EA4215">Search</h6>
        <form class="form-inline pl-3 pr-2 row text-center pl-4 justify-content-center m-auto" asp-action="index" asp-controller="home" method="get"
              style="max-width: 350px;">
            <input class="form-control col-12" style="border-radius: 1px;" type="text" id="search-box" placeholder="Search Recipe Title" name="searchTitle" value=@ViewData["searchTitle"]>
            <button class="btn btn-primary col-12 mt-2 mb-3" style="border-radius: 0px;" id="search-button" type="submit">Search</button>
        </form>
        @**@

        <h6 class="mt-3" style="font-family: 'Rowdies', cursive; font-size: 20px; color: #EA4215">Browse</h6>

        <div class="row m-auto pl-3" style="max-width: 350px;">
            @**@
            <div class="btn-group dropright col-12 mb-2">
                <button type="button" style="border-radius: 0px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Meal Type
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchMealType="Breakfast">Breakfast</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchMealType="Lunch">Lunch</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchMealType="Dinner">Dinner</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchMealType="Brunch">Brunch</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchMealType="Snack">Snack</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchMealType="Desert">Desert</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchMealType="Drink">Drink</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchMealType="Any">Any</a>
                </div>
            </div>
            @**@
            <div class="btn-group dropright col-12 mb-2">
                <button type="button" style="border-radius: 0px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchCategory="Vegan">Vegan</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchCategory="Vegetarian">Vegetarian</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchCategory="Beef">Beef</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchCategory="Chicken">Chicken</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchCategory="Seafood">Seafood</a>
                </div>
            </div>
            @**@
            <div class="btn-group dropright col-12 mb-2">
                <button type="button" style="border-radius: 0px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Spice Level
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchSpice="0">Non Spicy</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchSpice="1">Mild Spicy</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchSpice="2">Spicy</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchSpice="3">Very Spicy</a>
                </div>
            </div>
            @**@
            <div class="btn-group dropright col-12 mb-2">
                <button type="button" style="border-radius: 0px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Prep & Cook Time
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchTime="Fast">Fast</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchTime="Normal">Normal</a>
                    <a class="dropdown-item" asp-action="index" asp-controller="home" method="get" asp-route-searchTime="Slow">Slow</a>
                </div>
            </div>
            @**@
            <div class="btn-group dropright col-12 mb-2">
                <a class="btn btn-primary" style="border-radius: 0px;" asp-action="index" asp-controller="home" method="get" asp-route-searchHot="yes">Hot New Recipes</a>
            </div>
            @**@
        </div>
        <h6 class="mt-3 ml-3" style="font-family: 'Rowdies', cursive; font-size: 20px; color: #EA4215">Current Filter</h6>
        <div class="ml-3">
            <div class="alert alert-dark m-auto" style="max-width: 250px; max-height: 50px; border-radius: 0px;">
                @if (ViewData["browseBy"].ToString() == "Author")
                {
                    <p class="text-center" style="font-size: 18px; font-weight: bold;">@ViewData["browseBy"]: @ViewData["Author"]</p>
                }
                else
                {
                    <p class="text-center" style="font-size: 18px; font-weight: bold;">@ViewData["browseBy"]</p>
                }
            </div>
        </div>
        <a class="btn btn-danger mt-2 ml-3" style="border-radius: 0px;" asp-action="index" asp-controller="home" method="get">Clear Filters</a>

        @**@
    </div>
    @*Middle (Main) Section*@
    <div class="col-xl-8 row m-auto">
        @foreach (var recipe in Model.Recipe)
        {
            var spiceImage = "/images/" + recipe.SpiceLevel + ".png";
            var categoryImage = "/images/" + recipe.Category + ".png";

            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card border-0 shadow" style=" background-color: #fffefc;">
                    @if (recipe.ImagePath == null)
                    {
                        <img class="recipe-image" src="~/images/recipe2.jpg" asp-append-version="true" style="height:200px; width:auto; border-radius: 3px;" />
                    }
                    else
                    {
                        string existingImage = "~/images/" + recipe.ImagePath;
                        <img class="recipe-image" src="@existingImage" asp-append-version="true" style="height:200px; width:auto; border-radius: 3px;" />
                    }

                    <div class="card-body">
                        <h4 class="card-title text-center" id="recipe-title"
                            style="height: 60px; font-family: 'Merriweather', serif;
">
                            @if (recipe.Title.Length > 25)
                            {@($"{recipe.Title.Substring(0, 25)}...") }
                            else
                            { @recipe.Title}
                        </h4>
                        <p class="card-text" id="recipe-description"
                           style="font-size: 15px; line-height: 15px; height:120px;">
                            @if (recipe.Description.Length > 150)
                            {@($"{recipe.Description.Substring(0,150)}...") }
                            else
                            { @recipe.Description}
                        </p>
                        <div class="row justify-content-between mb-3">
                            <span class="ml-3 mb-2" style="font-size: 15px; line-height: 13px;">by <a href="#">@recipe.ApplicationUser.Name</a></span>
                            <span class="mr-3" style="font-size: 15px; line-height: 13px;"><span class="badge badge-dark">@recipe.CreatedOn</span></span>
                        </div>

                        @if (signInManager.IsSignedIn(User))
                        {
                            @if (recipe.Hearts.Any(h => h.ApplicationUserId == signInManager.UserManager.GetUserId(User)))
                            {
                                <div class="row justify-content-between">
                                    <span class="ml-3"> <img src="~/images/full-heart.png" style="height:25px; width: auto; margin-left:-2px;" /> @recipe.Hearts.Count </span>
                                    <span class="mr-4 badge badge-info" style="height: 20px;"> @recipe.Comments.Count comment(s) </span>
                                </div>
                            }
                            else
                            {
                                <div class="row justify-content-between">
                                    <span class="ml-3"> <img src="~/images/hollow-heart.png" style="height:25px; width: auto; margin-left:-2px;" /> @recipe.Hearts.Count </span>
                                    <span class="mr-4 badge badge-info" style="height: 20px;"> @recipe.Comments.Count comment(s) </span>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="row justify-content-between">
                                <span class="ml-3"> <img src="~/images/full-heart.png" style="height:25px; width: auto; margin-left:-2px;" /> @recipe.Hearts.Count </span>
                                <span class="mr-4 badge badge-info" style="height: 20px;"> @recipe.Comments.Count comment(s) </span>
                            </div>
                        }



                        <div class="mt-1 row p-2 justify-content-between">
                            @if (recipe.MealType.ToString() == "Any")
                            {
                                <span class="col-4" style="margin-right:-50px;">Anytime</span>
                            }
                            else
                            {
                                <span class="col-4" style="margin-right:-50px;">@recipe.MealType</span>
                            }
                            <span style="font-size: 22px;" class="ml-4 col-1"> <img src="@categoryImage" style="height:20px; width: auto;" /> </span>
                            <span style="font-size: 17px; font-weight: bold; margin-right:-40px;" class="ml-3 col-4"> <img src="/images/clock.png" style="height:30px; width: auto;" />@(recipe.PrepTime + recipe.CookTime) </span>
                            <span style="font-size: 22px;" class="ml-3 col-2"> <img src="@spiceImage" style="height:25px; width: auto;" /> </span>
                        </div>
                        <a asp-action="details" asp-controller="home" asp-route-id="@recipe.Id" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        }
    </div>

    @*Right Bar Section*@
    <div class="col-xl-2 p-2 mt-3 text-center">
        @if (signInManager.IsSignedIn(User))
        {

            <h3 style="font-family: 'Rowdies', cursive; font-size: 20px; color: #EA4215; margin-right: 25px;">Suggestion Box</h3>
            @*<fieldset class="form-group">
                    <div class="row container justify-content-between">
                        <label class="ml-3" for="customRange1">Dissatisfied</label>
                        <label class="mr-2" for="customRange1">Satisfied</label>
                    </div>
                    <input type="range" class="customer-range mr-4" id="customRange1" style="width: 290px;">
                </fieldset>*@
            <form action="https://formspree.io/xeqpjdze" method="POST">
                <input type="hidden" name="User Name" value="@signInManager.UserManager.GetUserAsync(User).Result.Name" />
                <div class="form-group p-3 mr-3">
                    <textarea class="form-control" id="exampleTextarea" rows="8" required style="border-radius: 0px;" name="Message"></textarea>
                </div>
                <button class="btn btn-danger mr-2 font-weight-bold" style="border-radius: 0px;" type="submit">Submit</button>
            </form>

        }
    </div>
</div>

@section Scripts {

    <script>

    </script>

}
